.wrap{
  position: absolute;
  width: 850px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 425px);
}
.video{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}
.speed{
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
  height: calc(100% - 20px);
  background: white;
  box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15), 0 1px 2px 0 rgba(60,64,67,0.3);
  border-radius: 300px;
  overflow: hidden;
}
.speedV{
  position: absolute;
  top: 0px;
  height: 0px;
  width: 100%;
  left: 0px;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
div{
  font-family: sans-serif;
  color: white;
}
